{ include file="camagruHeader.html" }
<content class="container">
	<article id="images_feed_container" class="wc-xs-12">
	</article>
	<error class="hidden"></error>
	<article class="wc-xs-12">
		<img id="loading_feed" class="end_of_feed hidden" src="{ $domain_link }images/loading.gif" alt="loading..." width="64" height="64" />
		<img id="end_feed" class="end_of_feed" src="{ $domain_link }images/end.jpg" alt="end of feed..." width="64" height="64" />
	</article>
</content>
{ include file="camagruFooter.html" }
