<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/wc.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/button.css" />
		{ $css_files }
		<script type="text/javascript">var camagru_home_link = "{ $domain_link }";</script>
		<script src="js/wc.js" type="text/javascript"></script>
		<script src="js/loadingOverlay.js" type="text/javascript"></script>
		{ $js_files }
	</head>
	<body>
		<nav class="navbar">
			<div class="container">
				<a id='home_link' href="{ $domain_link }"><h1 class="navbar-brand">Camagru</h1></a>
				{ $logout_button }
			</div>
		</nav>
