<article class="wc-xs-12">
	<h2>Register a new account:</h2>
	<table align="center">
		<tr>
			<td><label>Nickname:</label></td><td><input type="text" id="nickname_input" /></td>
		</tr>
		<tr>
			<td><label>Password:</label></td><td><input type="password" id="password_input" /></td>
		</tr>
		<tr>
			<td><label>Confirm password:</label></td><td><input type="password" id="confirm_input" /></td>
		</tr>
		<tr>
			<td><label>email:</label></td><td><input type="email" id="email_input" /></td>
		</tr>
	</table>
	<error class="hidden"></error>
	<p><button id="register">Register</button></p>
	<p><a id="has_account" class="clickable_text">I already have an account.</a></p>
</article>